#b1{
    background-color: cyan;
    color: red;

}
#b2{
    background-color: cyan;
    color: red;
    
}
#b3{
    background-color: cyan;
    color: red;
    
}

#username{
    text-align: center;
}
#password{
    text-align: center;
}