body{
    background-image: url(2795.jpg);
    background-size: 100%100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.box{
    width: 300px;
    height: 200px;
    padding-bottom: 350px;
}
.box h2{
    color: #000000;
}
.box label{
    color: #000000;
}
#STrong{
    color: #ff0101;
    border: none;
    margin: 0px 0px 0px 130px;
}
.form{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.314);
    color: #fff;
    padding: 10px 35px 25px 25px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    align-items: center;
}
.form-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
.form-input-box{
    margin-bottom: 26px;

}
.form-label{
    font-size: 16px;
}
.form-input{
    font-size: 14px;
    display: block;
    height: 50px;
    padding: 0 10px;
    width: 100%;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #ffffff;
    margin-bottom: 20px;
}
.Guest{
    background-color: blueviolet;
    color: aqua;
    border-radius: 4px;
    border:none;
    text-align: center;
    padding: 10px 0;
    width: 320px;
    margin-top: 10px;
    text-decoration: none;
}
.Guest:hover{
    color: #ff0000;
}


.btn-sub{
    background-color: rgb(255, 252, 255);
    color: #000000;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 10px 0;
    width: 320px;
    margin-top: 20px;

}
.btn-sub:hover{
    background-color:#0f8d0f ;
    color: #ff0000;
    scale: 102%;
}
.form-input:hover{
    background-color: rgb(112, 111, 111);
    color: #020202;
}
.forget_pas{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}
.forget_pas a{
    text-decoration: none;
    color: #5baaca;
    text-align: center;
}
#Remember{
    color: #0f8d0f;
    text-align: center;
    margin: 10px 0px 5px;
}
.sign{
color:#ff0101 ;
text-align: center;
margin-top: 10px;
margin-left: 3px;
font-size: 14px;
    
}
.sign a{
    text-decoration: none;
    color:#2200ff ;
    margin: 0px 0px 0px 127px;
}