.header{
    align-items: center;
}
.home{
    align-items: center;
}
.txt{
    justify-content: center;
    text-align: center;
    color: #5e0d0d;
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
}
.icon{
    font-size: 14px;
}
.pic{
width: 230px;
}
.pic1{
    border-radius: 5px;
    margin-bottom: 7px;
}